body {
        margin: 0;
        font-size: 16px;
        font-family: 'Chivo', sans-serif;
        font-family: 'Source Sans Pro', sans-serif;
        background-color: cornflowerblue;
        color: whitesmoke;
}

header {
        width: 75%;
        margin: auto;
        margin-top: 0;
        background-color: whitesmoke;
        color: cornflowerblue;
        border-radius: 0 0 2% 2%;
        padding: 1%;
        margin-bottom: 2%;
        font-weight: bold;
}

nav {
        text-align: center;
        margin-top: 5%;
}

.section-link {
        text-decoration: none;
        outline: none;
        color: cornflowerblue;
        padding: 1%;
}

.heading {
        text-align: center;
        font-weight: bolder;
}

.tagline {
        text-align: center;
        font-style: italic;
        font-weight: normal;
}

.project-grid {
        display: grid;
        grid-template-areas:
                "a a"
                "b b"
                "c c"
                "d d";
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        align-items: stretch;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
}

.project-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-items: flex-start;
        justify-content: space-around;
        text-align: center;
}

.project {
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        color: cornflowerblue;
        border-radius: 2%;
        min-width: 45%;
        max-width: 45%;
        margin-top: 20px;
        align-self: stretch;
}

.description {
        color: dimgrey;
        width: 80%;
        font-size: larger;
        margin: auto;
}

.emphasis {
        font-weight: bold;
        color: cornflowerblue;
}

.tech-used {
        color: dimgrey;
        width: 70%;
        margin: auto;
        margin-top: 1em;
        text-align: left;
        font-size: large;
        font-weight: bold;
}

.project-nav {
        margin-bottom: 1em;
}

.github-link {
        color: black;
        font-size: larger;
        font-family: monospace;
        outline: none;
        padding: 1%;
}

.uses-title {
        color: cornflowerblue;
        font-size: large;
}

.thumb {
        max-width: 90%;
        max-height: 90%;
        margin: auto;
}

.smaller-thumb {
        max-width: 60%;
        max-height: 60%;
        margin: auto;
}

#row-one {
        grid-area: a;
}

#row-two {
        grid-area: b;
}

#row-three {
        grid-area: c;
}

#row-four {
        grid-area: d;
}

/*
 ##Device = absurdly large monitors
*/
@media only screen and (min-width: 2450px) {
        .project-grid {
                min-width: 50%;
                max-width: 50%;
        }
        header {
                width: 45%;
        }
}

/*
 ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
        .project-grid {
                min-width: 95%;
                max-width: 95%;
        }
        header {
                width: 90%;
        }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
        .project-grid {
                min-width: 95%;
                max-width: 95%;
        }
        .project {
                min-width: 80%;
                max-width: 80%;
        }
        header {
                width: 75%;
        }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        .project-grid {
                min-width: 95%;
                max-width: 95%;
        }
        header {
                width: 90%;
        }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
        .project-grid {
                min-width: 100%;
                max-width: 100%;
        }
        .project {
                min-width: 95%;
                max-width: 95%;
        }
        header {
                width: 95%;
        }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
        .project-grid {
                min-width: 100%;
                max-width: 100%;
        }
        .project {
                min-width: 95%;
                max-width: 95%;
        }
        header {
                width: 95%;
        }
        nav {
                margin-top: 1em;
        }
}
