html, body {
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-family: 'Chivo', sans-serif;
        font-family: 'Source Sans Pro', sans-serif;
        background-color: cornflowerblue;
        color: whitesmoke;
}

.full-width {
        width: 75%;
        margin: auto;
        margin-top: 0;
        background-color: whitesmoke;
        color: dodgerblue;
        border-radius: 0 0 2% 2%;
        padding: 1%;
        margin-bottom: 2%;
        font-weight: bold;
}

nav {
        text-align: center;
        margin-top: 5%;
}

.section-link {
        text-decoration: none;
        outline: none;
        color: dimgrey;
        padding: 1%;
}

.proj-link {
        text-decoration: none;
        outline: none;
}

.search-form {
        width: 90%;
        margin: auto;
}

#search-bar {
        width: 50%;
        padding: 20px;
        font-size: 1.15em;
        margin: auto;
        display: block;
        margin-bottom: 1.15em;
        color: cornflowerblue;
        border-radius: 2%;
        border: none;
        text-decoration: none;
}

.hidden {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px; width: 1px;
        margin: -1px; padding: 0; border: 0;
}

.heading {
        text-align: center;
        font-weight: bolder;
}

.notice {
        font-weight: bold;
        font-style: italic;
        font-size: large;
        color: orangered;
}

.main-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-row-gap: 1%;
        grid-template-areas:
            "projects"
            "me-bio"
}

.project-grid {
        display: grid;
        grid-area: projects;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1%;
        align-items: center;
        justify-items: center;
        justify-content: space-evenly;
        width: 80%;
        margin: auto;
        text-align: center;
}

.me-grid {
        grid-area: me-bio;
}

.project {
        display: grid;
        grid-template-columns: 1fr;
        background-color: whitesmoke;
        color: cornflowerblue;
        border-radius: 2%;
        min-width: 95%;
        max-width: 95%;
        margin-top: 20px;
        align-self: stretch;
}

.description {
        color: dimgrey;
        width: 80%;
        font-size: larger;
        margin: auto;
}

.emphasis {
        font-weight: bold;
        color: cornflowerblue;
}

.tech-used {
        color: dimgrey;
        width: 70%;
        margin: auto;
        text-align: left;
        font-size: large;
        font-weight: bold;
}

.status-line {
        align-self: end;
        color: darkslategrey;
        font-size: large;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
}

.project-nav {
        margin-bottom: 1em;
}

.github-link {
        color: black;
        font-size: larger;
        font-family: monospace;
        outline: none;
}

.link-image {
        width: 26px;
}

.uses-title {
        color: cornflowerblue;
        font-size: large;
}

.feature-list-title {
        color: cornflowerblue;
        list-style: none;
        font-weight: bold;
}

.feature-list {
        width: 50%;
        margin: auto;
        text-align: left;
}

.project-image {
        max-width: 60%;
        height: auto;
        padding: 20px;
        margin: auto;
}

.project-image-tall {
        max-width: 50%;
}

.about-text {
        color: dimgrey;
        min-width: 60%;
        max-width: 60%;
        margin: auto;
}


/*
 ##Device = absurdly large monitors
*/
@media only screen and (min-width: 2450px) {
        .project-grid {
                min-width: 50%;
                max-width: 50%;
        }
        .full-width {
                width: 45%;
        }
}

/*
 ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
        .project-grid {
                min-width: 95%;
                max-width: 95%;
        }
        .full-width {
                width: 90%;
        }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
        .project-grid {
                min-width: 95%;
                max-width: 95%;
                grid-template-columns: 1fr;
        }
        .project {
                min-width: 80%;
                max-width: 80%;
        }
        .full-width {
                width: 75%;
        }
        #search-bar {
                margin: auto;
        }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        .project-grid {
                min-width: 95%;
                max-width: 95%;
                grid-template-columns: 1fr);
        }
        .full-width {
                width: 90%;
        }
        .feature-list {
                width: 80%;
        }
        #search-bar {
                margin: auto;
        }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
        .project-grid {
                min-width: 100%;
                max-width: 100%;
                grid-template-columns: 1fr;
        }
        .project {
                min-width: 95%;
                max-width: 95%;
        }
        .full-width {
                width: 95%;
        }
        .feature-list {
                width: 70%;
        }
        #search-bar {
                margin: auto;
        }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
        .project-grid {
                min-width: 100%;
                max-width: 100%;
                grid-template-columns: 1fr;
        }
        .project {
                min-width: 95%;
                max-width: 95%;
        }
        .full-width {
                width: 95%;
        }
        nav {
                margin-top: 1em;
        }
        .feature-list {
                width: 70%;
        }
        #search-bar {
                width: 75%;
                margin: auto;
                margin-top: 1em;
        }
}

/*
 ##Device = very small phones
 */
@media (min-width: 320px) and (max-width: 401px) {
        .project-grid {
                min-width: 100%;
                max-width: 100%;
                grid-template-columns: 1fr;
        }
        .project {
                min-width: 90%;
                max-width: 90%;
        }
        .full-width {
                width: 90%;
        }
        nav {
                margin-top: 1em;
        }
        .feature-list {
                width: 80%;
        }
        #search-bar {
                width: 75%;
                margin: auto;
                margin-top: 1em;
        }
}

@media (hover:hover) {
        .section-link:hover {
                color: dodgerblue;
        }
}
