$page-background-color: cornflowerblue;
$box-background-color: whitesmoke;
$heading-color: dodgerblue;

$standard-text-color: dimgrey;
$standard-text-color-dark: darkslategrey;
$highlight-text-color: cornflowerblue;

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Chivo', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: $page-background-color;
}

.full-width {
  width: 65%;
  margin: auto;
  margin-top: 0;
  background-color: $box-background-color;
  border-radius: 0 0 2% 2%;
  padding: 1%;
  margin-bottom: 2%;
  font-weight: 400;
}

nav {
  text-align: center;
  margin-top: 2em;

  a {
    text-decoration: none;
    outline: none;
    color: $standard-text-color;
    padding: 1%;
  }
}

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.heading {
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
  color: $heading-color;
}

.main-grid {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 1%;
  grid-template-areas: 'projects';
}

.profile-text {
  color: $standard-text-color;
  min-width: 80%;
  max-width: 80%;
  margin: auto;
  text-align: left;
}

/*
   ##Device = absurdly large monitors
  */
@media only screen and (min-width: 2450px) {
  .full-width {
    width: 45%;
  }
  .profile-text {
    min-width: 60%;
    max-width: 60%;
  }
}

/*
   ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
  */
@media (min-width: 1281px) {
  .profile-text {
    min-width: 60%;
    max-width: 60%;
  }
}

/*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
@media (min-width: 1025px) and (max-width: 1280px) {
  .full-width {
    width: 90%;
  }
  .profile-text {
    min-width: 60%;
    max-width: 60%;
  }
}

/*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
@media (min-width: 768px) and (max-width: 1024px) {
  .full-width {
    width: 75%;
  }
}

/*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .full-width {
    width: 90%;
  }
}

/*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
@media (min-width: 481px) and (max-width: 767px) {
  .full-width {
    width: 95%;
  }
}

/*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
@media (min-width: 320px) and (max-width: 480px) {
  .full-width {
    width: 95%;
  }
}

/*
   ##Device = very small phones
   */
@media (min-width: 320px) and (max-width: 401px) {
  .full-width {
    width: 90%;
  }
}

@media (hover: hover) {
  nav {
    a:hover {
      color: $heading-color;
    }
  }
}
