@use 'index';

.lang-intro {
  margin-bottom: 3em;
}

.lang {
  margin-bottom: 2.5em;
}

.tool-icon-list {
  text-align: center;
}

.tool-icon {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.me-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tooling-title {
  color: index.$highlight-text-color;
}
