@use 'index';

$active-color: #2dc937;
$archived-color: #e7b416;
$retired-color: darkgray;

.main-project-grid {
  margin-top: 0em;
}

.project-grid {
  display: grid;
  grid-area: projects;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1%;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 1em;
}

.key-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1%;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 1em;
}

.key-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: darkslategrey;
  text-align: center;
  width: 100%;
}

.project {
  display: grid;
  grid-template-columns: 1fr;
  background-color: index.$box-background-color;
  border-radius: 2%;
  min-width: 95%;
  max-width: 95%;
  margin-top: 20px;
  align-self: stretch;
}

.title-line {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  justify-content: space-around;
  margin-top: 20px;
}

.status-light {
  margin-right: auto;
  font-size: larger;
  width: 10%;
}

.project-title {
  font-size: 150%;
  margin-right: auto;
  margin-left: auto;
  color: index.$heading-color;
}

.description {
  color: index.$standard-text-color;
  width: 80%;
  font-size: larger;
  margin: auto;
}

.detail {
  font-size: 90%;
}

.tech-used {
  color: index.$standard-text-color;
  width: 70%;
  margin: auto;
  text-align: left;
  font-size: 100%;
  font-weight: 400;
}

.status-line {
  align-self: end;
  color: index.$standard-text-color-dark;
  font-size: large;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link-image {
  width: 26px;
}

.uses-title {
  color: index.$highlight-text-color;
}

.feature-list {
  width: 50%;
  margin: auto;
  text-align: left;
  font-size: 90%;
}

.project-image {
  max-width: 50%;
  height: auto;
  padding: 20px;
  margin: auto;
}

.active {
  color: $active-color;
}

.archived {
  color: $archived-color;
}

.retired {
  color: $retired-color;
}

/*
   ##Device = absurdly large monitors
  */
@media only screen and (min-width: 2450px) {
  .project-grid {
    min-width: 50%;
    max-width: 50%;
  }
}

/*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
@media (min-width: 1025px) and (max-width: 1280px) {
  .project-grid {
    min-width: 95%;
    max-width: 95%;
  }
}

/*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
@media (min-width: 768px) and (max-width: 1024px) {
  .project-grid {
    min-width: 95%;
    max-width: 95%;
    grid-template-columns: 1fr;
  }
  .project {
    min-width: 80%;
    max-width: 80%;
  }
}

/*
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .project-grid {
    min-width: 95%;
    max-width: 95%;
    grid-template-columns: 1fr;
  }
  .feature-list {
    width: 80%;
  }
}

/*
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
      ##Screen = B/w 481px to 767px
    */
@media (min-width: 481px) and (max-width: 767px) {
  .project-grid {
    min-width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr;
  }
  .project {
    min-width: 95%;
    max-width: 95%;
  }
  .feature-list {
    width: 70%;
  }
}

/*
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */
@media (min-width: 320px) and (max-width: 480px) {
  .project-grid {
    min-width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr;
  }
  .project {
    min-width: 95%;
    max-width: 95%;
  }
  .feature-list {
    width: 70%;
  }
}

/*
     ##Device = very small phones
     */
@media (min-width: 320px) and (max-width: 401px) {
  .project-grid {
    min-width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr;
  }
  .project {
    min-width: 90%;
    max-width: 90%;
  }
  .feature-list {
    width: 80%;
  }
}
