$page-background-color: cornflowerblue;
$box-background-color: whitesmoke;
$heading-color: dodgerblue;
$standard-text-color: dimgrey;
$standard-text-color-dark: darkslategrey;
$highlight-text-color: cornflowerblue;
