@use 'variables';
@import 'layouts';

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Chivo', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: variables.$page-background-color;
}

.full-width {
  width: 95%;
  margin: auto;
  margin-top: 0;
  background-color: variables.$box-background-color;
  border-radius: 0 0 2% 2%;
  padding: 1%;
  margin-bottom: 2%;
  font-weight: 400;
}

nav {
  text-align: center;
  margin-top: 2em;

  a {
    text-decoration: none;
    outline: none;
    color: variables.$standard-text-color;
    padding: 1%;
  }
}

.key-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1%;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 1em;
}

.key-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: darkslategrey;
  text-align: center;
  width: 100%;
  margin-top: 1em;
}

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.heading {
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
  color: variables.$heading-color;
}

.profile-text {
  color: variables.$standard-text-color;
  min-width: 80%;
  max-width: 80%;
  margin: auto;
  text-align: left;
}

/* Assume mobile then apply styles for larger devices */

@include break(tabletPortrait) {
  .full-width {
    width: 80%;
  }
}

@include break(tabletLandscape) {
  .full-width {
    width: 90%;
  }
  .profile-text {
    min-width: 60%;
    max-width: 60%;
  }
}

@include break(desktop) {
  .full-width {
    width: 60%;
  }
}

@include break(widescreen) {
  .full-width {
    width: 45%;
  }
}

/*@include respond(widescreen) {
  .full-width {
    width: 45%;
  }
  .profile-text {
    min-width: 60%;
    max-width: 60%;
  }
}

@include respond(desktop) {
  .profile-text {
    min-width: 60%;
    max-width: 60%;
  }
}

@include respond(laptop) {
  .full-width {
    width: 90%;
  }
  .profile-text {
    min-width: 60%;
    max-width: 60%;
  }
}

@include respond(tablet) {
  .full-width {
    width: 75%;
  }
}

@include respond(tabletLandscape) {
  .full-width {
    width: 90%;
  }
}

@include respond(mobileLarge) {
  .full-width {
    width: 95%;
  }
}

@include respond(mobileSmall) {
  .full-width {
    width: 95%;
  }
}

@include respond(mobileTiny) {
  .full-width {
    width: 90%;
  }
}

@include feature(hover) {
  nav {
    a:hover {
      color: variables.$heading-color;
    }
  }
}*/
