@use 'index';

$language-text-color: tomato;

.main-grid-me {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 1%;
}

.lang-intro {
  margin-bottom: 3em;
}

.lang {
  margin-bottom: 2.5em;
}

.language-name {
  color: $language-text-color;
}

.tool-icon-list {
  text-align: center;
}

.tool-icon {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.me-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tooling-title {
  color: index.$highlight-text-color;
}
