@use 'variables';
@import 'layouts';

$alert-text-color: tomato;

.search-form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  width: 90%;
  height: auto;
  margin: auto;
  text-align: center;
}

#search-bar {
  width: 50%;
  padding: 20px;
  font-size: 1.15em;
  margin: auto;
  display: block;
  margin-bottom: 1.15em;
  color: variables.$highlight-text-color;
  border-radius: 2%;
  border: none;
  text-decoration: none;
}

.clear-button {
  text-decoration: none;
  padding: 5px;
  font-size: large;
  border: none;
  color: $alert-text-color;
  background-color: variables.$box-background-color;
  -webkit-appearance: none;
  border-radius: 5px;
  margin: auto;
}

@include respond(mobileSmall) {
  #search-bar {
    width: 75%;
    margin-top: 1em;
  }
}

@include respond(mobileTiny) {
  #search-bar {
    width: 75%;
    margin-top: 1em;
  }
}
